<header class="country-header" data-undpds-component="navigation">
    <section class="header">
        <div class="grid-container fluid">
            <div class="grid-x grid-margin-x align-content-middle">
                <div class="cell small-8 large-2 shrink align-self-middle top-left">
                    <a href="https://www.undp.org" class="logo" tabindex="0" title="UNDP Logo homepage link">
                        <img alt="UNDP Logo" src="{{ logo }}" />
                    </a>
                    <div class="site-title">
                        <span><a href="{{ region.href }}" title="UNDP homepage link">{{ region.text }}</a></span>
                        <span><a href="{{ title.href }}" title="UNDP homepage link">{{ title.text }}</a></span>
                    </div>
                </div>
                <div class="cell small-1 large-auto align-content-middle top-center">
                    <nav class="menu">
                        <ul class="">
                            {% for nav in navs %}
                            <li data-menu-id="headerlink{{ loop.index }}">
                                <a href="#"
                                    onclick="Shiny.setInputValue('page_switch', '{{ nav.value }}', {priority: 'event'});"
                                    tabindex="0">{{ nav.text }}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </nav>
                </div>
                <div class="cell small-3 large-auto top-right">
                    <button class="menu-hamburger" aria-label="menu-icon">
                        <span class="hamburger-line line-top"></span>
                        <span class="hamburger-line line-middle"></span>
                        <span class="hamburger-line line-bottom"></span>
                        Nav toggle
                    </button>
                </div>
                <div class="mobile-nav">
                    <div class="grid-x">
                        <div class="cell mobile-links">
                            <ul>
                                {% for nav in navs %}
                                <li>
                                    <a href="#" id="headerlink{{ loop.index }}" onclick="
                                        Shiny.setInputValue('page_switch', '{{ nav.value }}', {priority: 'event'});
                                        // close the menu
                                        document.querySelector('.menu-hamburger').click();
                                        ">
                                        {{ nav.text }}
                                    </a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</header>